

html{
  font-size:62.5% ;/* 16px x 62.5=10px=1rem*/
  box-sizing:border-box; 
}

body{
  margin: 0;
  height: 100vh;
  font-size:1.6rem;
  font-family:Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
  
}

/*Layout*/

.grid-container{
display: grid;
grid-template-areas: 'header' 'main' 'footer';
grid-template-columns: 1 fr; /*only one column no side colums*/
grid-template-rows: 5rem 1fr 5rem;
height:100%;

}

header{
  grid-area:header;
  background-color: #203040;

}

main{
  grid-area:main;
  padding: 1rem;
}

footer{
  grid-area:footer;
  background-color: #203040;
  color:#ffffff;
}
/*Commmon*/
h1{
  font-size:1.8rem;
  padding:1rem 0;

}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}

input:hover, 
select:hover,
textarea:hover,
button:hover{
  border: 0.1rem #404040 solid;
}


input, 
select,
textarea,
button{
  padding: 1rem;
  border-radius: 0.5rem;
  border:0.1rem #a4a4a4 solid;
  font-size:1.6rem;
  font-family:Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f8f8f8 ;
  cursor: pointer;/*cursor eka pointer ekak wenwa*/
}

button{
  background-color: #f8f8f8;
  cursor: pointer;
}

button.primary{
  background-color: #f0c040;
}

button.block{
  width:100%;
}

/*Header*/
header a{/*all the links in header-decendent selector */
  color: white;
  padding: 1rem;
}


a.brand{
  color: white;
  font-size:3rem;
  font-weight:bold
}

.row{
  display: flex; /*items next to each other */
  flex-wrap: wrap;/*if there is not enough space move to next*/
  justify-content: space-between;/* create maximum space between items*/
  align-items: center;
}

.row.center{/*row kiyla calss ekakui center kiyla class ekakui tiynwanm */
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;/*flex: flex-grow flex-shrink flex-basis|auto|initial|inherit;
flex-grow  -	A number specifying how much the item will grow relative to the rest of the flexible items
flex-shrink-	A number specifying how much the item will shrink relative to the rest of the flexible items
flex-basis -	The length of the item. Legal values: "auto", "inherit", or a number followed by "%", "px", "em" or*/
}

.col-2{
  flex: 2 1 50rem;
}


/*image*/
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}
/* Card */
.card{
  border:0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}


.card-body{
  padding: 1rem;
}

.card-body{
  margin-bottom:0.5rem;/*5px*/
}

.price
{
  font-size: 2rem;
}

/*Rating*/
.rating span{
  color:#f0c040;
  margin: 0.1rem;
}

.rating span:last-child{
  color: #404040;
}

/*Alert*/
.success{
  color: #20a020;
}

.error{
  color: #a02020;
}

.alert{
  padding:1rem;
  border:0.1rem solid transparent;
  border-radius:0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}